.sidePanel{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(50,50,50);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color:white;
    font-family:'Roboto', sans-serif;
    text-align: center;
}

.mainPanel{
    font-family:'Roboto', sans-serif;
    width:70%;
    float:right;
    text-align:center;
}

a{
    font-family:'Roboto', sans-serif;
    color:white;
}
a:visited {color:white;}

#mainPanelTitle{
    background-color:rgb(77, 51, 104);
    display:block;
    color:white;
    font-size: 32px;
    padding:20px;
}

#sideTitle{
    background-color:rgb(77, 51, 104);
    display:block;
    color:white;
    padding:20px;
    font-size: 32px;
}