.sidePanel{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(70,70,70);
    overflow-x: hidden; /* Disable horizontal scroll */
    color:white;
    font-family:'Roboto', sans-serif;
    text-align: center;
}

.mainPanel{
    font-family:'Roboto', sans-serif;
    width:70%;
    float:right;
    text-align:center;
    height: 100%;
    overflow-x: hidden;
}

a{
    font-family:'Roboto', sans-serif;
    color:white;
}
a:visited {color:white;}

.normalA{
    color:white;
}
.normalA:visited{
    color:white;
}

#mainPanelTitle{
    background-color:rgb(50,50,50);
    display: block;
    color:white;
    font-size: 32px;
    padding:20px;
}

#sideTitle{
    background-color:rgb(50,50,50);
    display:block;
    color:white;
    padding:20px;
    font-size: 32px;
    margin:0%;
}

#announcementsBody{
    display: block;
    background-color: white;
    color: black;
}
.announcements{
    background-color: rgb(50, 50, 50);
    color:white;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

#bugReportsBody{
    display: block;
    background-color: white;
    color: black;
}
.bugReports{
    background-color: rgb(50, 50, 50);
    color:white;
    margin-top:30px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

body{
    background:white;
    color:white;
}

th{
    padding:10px;
}