body{
    text-align: center;
    color:white;
    background-color: black;
    font-family: 'Exo', sans-serif;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table,tr,td,th{
    border: 1px solid #0066ff;
}

td{
    width:100px;
    height: 30px;
}
#table-title{
    background-color: #0066ff;
    font-size: 20px;
    color: black;
}

a{
    color: white;
}

.chapters{
    height: 30px;
}
#page-title{
    color: black;
    background-color: #0066ff;
    font-size: 50px;
}