body{
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    background-color: black;
}
#backToTop{
    border: 1px solid black;
    color: black;
    background-color: yellow;
}
#page-title{
    background-color: yellow;
    color:black;
    font-size: 3rem;
}
#info{
    border: 1px solid white;
    font-size: 12px;
}
.chapter-select{
    font-size: 1.5rem;
    color:white;
}
a{
    color:white;
}
